<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FACEBOOK_APP_ID</key>
	<string>421720451234247</string>
	<key>FB_LOGIN_PROTOCOL_SCHEME</key>
	<string>fb421720451234247</string>
	<key>GOOGLE_LOGIN_PROTOCOL_SCHEME</key>
	<string>com.googleusercontent.apps.1234567812345678-je55jt95q7uc15fme0fudb87vvipnftevvro</string>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>BIzaSyAAbir5DAWT_lomin25RkUzxcvb123yCnDEG</string>
</dict>
</plist>
